# prevent .gitattributes from being encrypted
.gitattributes !filter !diff
*.key filter=git-crypt diff=git-crypt
dns/**/rndc.conf filter=git-crypt diff=git-crypt
certificate/certs/**/privkey.pem filter=git-crypt diff=git-crypt
